- @page_heading = t('interface_type: %s') % h(@interface_type.code)

%p.small= @interface_type.expose? ? t('visible') : t('hidden')

%p.small
  = t('created %s') % @interface_type.created_at.to_s(:db)
  %br/
  = t('updated %s') % @interface_type.updated_at.to_s(:db)

= textilize @interface_type.description

- if logged_in?
  %p
    = link_to t('edit'), edit_interface_type_path
    \|
    = link_to t('remove'), interface_type_path, :method => :delete
