- if policy(node).update? || node.devices.count.positive?
  %h2= Device.model_name.human(count: 2)

  %ul
    - node.devices.each do |device|
      %li
        = link_to device.name, url_for(device)
        - if policy(node).update?
          = link_to url_for(device), method: :delete,
                    data: { confirm: t(:confirm_delete,
                            thing: Device.model_name.human.downcase) } do
            %span.glyphicon.glyphicon-remove
    - if policy(node).update?
      %li
        = form_tag devices_path, class: 'form-inline' do
          - if device&.errors&.any?
            .error-explanation
              = t :errors, count: device.errors.count,
                  thing: Device.model_name.human.downcase
              %ul
                - device.errors.full_messages.each do |msg|
                  %li= msg
          .form-group
            %label.sr-only{ for: 'device_name' }
              = Device.human_attribute_name('name')
            = text_field 'device', 'name', class: 'form-control',
                         placeholder: Device.human_attribute_name('name')
          = hidden_field 'device', 'node_id', value: node.to_param
          = submit_tag t(:create), id: 'device_create',
                       class: 'btn btn-primary'
