= f.input :code, size: 16, maxlength: 64
= f.input :name

= f.association :status
= f.association :group

- unless current_user.contacts.empty?
  = f.association :contact

= f.input :body
= f.input :address
= f.input :hours
= f.input :notes
= f.input :website
= f.input :rss
= f.input :twitter
= f.input :wiki
= f.input :logo
