- if @node.errors.any?
  #error_explanation
    = t :errors, count: @node.errors.count, thing: Node.model_name.human.downcase

    %ul
      - @node.errors.full_messages.each do |msg|
        %li= msg

.form-group
  %label{for: "node_code"}= Node.human_attribute_name('code')
  = text_field 'node', 'code', size: 16, maxlength: 64, class: 'form-control'

.form-group
  %label{for: "node_name"}= Node.human_attribute_name('name')
  = text_field 'node', 'name', class: 'form-control'

.form-group
  %label{for: "node_status_id"}= Node.human_attribute_name('status')
  = collection_select 'node', 'status_id', Status.all, 'id', 'name', {}, { class: 'form-control' }

.form-group
  %label{for: "node_body"}= Node.human_attribute_name('body')
  = text_area 'node', 'body', rows: 8, class: 'form-control'

.form-group
  %label{for: "node_address"}= Node.human_attribute_name('address')
  = text_field 'node', 'address', class: 'form-control'

.form-group
  %label{for: "node_hours"}= Node.human_attribute_name('hours')
  = text_field 'node', 'hours', class: 'form-control'

.form-group
  %label{for: "node_notes"}= Node.human_attribute_name('notes')
  = text_area 'node', 'notes', rows: 8, class: 'form-control'
