= link_to node.name, url_for(node)

%p.small
  %span{ class: node.status.color }
    = t :status, status: node.status.name

- if node.address
  %p= node.address
  %p= link_to t(:get_directions), node.directions_url, target: :_blank

- if node.hours?
  %p= t :hours, hours: node.hours
