.container
  %h1= t '.title'

  = form_tag nodes_path do
    = render partial: 'form', locals: { node: @node }

    = hidden_field 'node', 'user_id'
    = hidden_field 'node', 'zone_id'
    = submit_tag t(:create), class: 'btn btn-primary'
    = link_to t(:cancel), url_for(@node.zone), class: 'btn btn-warning'
