- content_for :title, t(:new_h, thing: Node.model_name.human)

%h1= t :new_h, thing: Node.model_name.human

= simple_form_for @node do |f|
  = render partial: 'form', locals: { f: f }

  = f.input :user_id, as: :hidden
  = f.submit t(:create), class: 'btn btn-primary'
  = link_to t(:cancel), browse_path, class: 'btn btn-warning'
