- content_for :title, t(:edit_h, thing: Node.model_name.human)

%h1= t :edit_h, thing: Node.model_name.human

= simple_form_for @node, turbolinks_form: true, validate: true do |f|
  = render partial: 'form', locals: { f: f }

  = f.submit t(:update), class: 'btn btn-primary'
  = link_to t(:cancel), url_for(@node), class: 'btn btn-warning'
