- content_for :meta_title, t(:new_h, thing: Node.model_name.human)

%h1= t :new_h, thing: Node.model_name.human

%p
  Here you can create a new node. Nodes registered in this system will be
  included in our database and displayed on the map.

= simple_form_for @node, turbolinks_form: true, validate: true do |f|
  = render partial: 'form', locals: { f: f }

  = f.input :user_id, as: :hidden
  = f.submit t(:create), class: 'btn btn-primary'
  = link_to t(:cancel), browse_path, class: 'btn btn-warning'
