- content_for :title, t(:new_h, thing: Node.model_name.human)

%h1= t :new_h, thing: Node.model_name.human

= form_tag nodes_path, multipart: true do
  = render partial: 'form', locals: { node: @node }

  = hidden_field 'node', 'user_id'
  = submit_tag t(:create), class: 'btn btn-primary'
  = link_to t(:cancel), browse_path, class: 'btn btn-warning'
