.container
  .row
    .col-md-12
      %h1= @node.name

  .row
    .col-md-8
      = markdown @node.body

      - if @node.notes?
        = markdown @node.notes

      %h2= NodeLink.model_name.human(count: 2)

      %ul
        - @node.node_links.each do |node_link|
          %li
            = node_link.name
            = link_to node_link.url, node_link.url
        - if current_user.try(:admin?) or @node.user == current_user
          %li= link_to :create, url_for(@node)

      %h2= Host.model_name.human(count: 2)

      %ul
        - @node.hosts.each do |host|
          %li= host.name
        - if current_user.try(:admin?) or @node.user == current_user
          %li= link_to :create, url_for(@node)

    .col-md-4
      %p.small
        = link_to t(:zone, zone: @node.zone.name), url_for(@node.zone)
        %br/
        = t :code, code: @node.code
        %br/
        = t :created, date: @node.created_at.to_s(:db)
        %br/
        = t :updated, date: @node.updated_at.to_s(:db)
        %br/
        %span{style: "color: #{@node.status.color}"}
          = t :status, status: @node.status.name

      - if @node.address?
        %p= @node.address

      - if @node.hours?
        %p= @node.hours

      #map{"data-node": @node.to_param}
