.container
  .row
    .col-md-12
      %h1= h @node.name

  .row
    .col-md-7
      = render partial: 'shared/edit_delete', locals: { record: @node }

      - unless @node.logo.blank?
        = image_tag @node.logo.url

      = markdown @node.body

      - if @node.notes?
        = markdown @node.notes

      = render partial: 'links', locals: { node: @node, node_link: @node_link }

      = render partial: 'hosts', locals: { node: @node, host: @host }

      %h2= t('.network_diagram')
      %p= image_tag graph_node_path(@node, format: :png)

    .col-md-5
      %p.small
        = link_to t(:zone, zone: @node.zone.name), url_for(@node.zone)
        %br/
        = t :code, code: @node.code
        %br/
        - if @node.user.name
          = link_to @node.user.name, url_for(@node.user)
          %br/
        %span{ class: @node.status.color }
          = t :status, status: @node.status.name

      - if @node.address?
        %p= @node.address
        %p= link_to t(:get_directions), @node.directions_url, target: :_blank

      - if @node.hours?
        %p= t :hours, hours: @node.hours

      - if @node.latitude && @node.longitude
        #map{ 'data-markers': node_path(@node, format: :json) }
        %span.text-muted.pull-right
          = link_to t(:json), node_path(@node, format: :json)
          \|
          = link_to t(:kml), node_path(@node, format: :kml)
          \|
          = link_to t(:xml), node_path(@node, format: :xml)
