- content_for :title, @node.display_name

%h2= h @node.name

%p
  = status_color @node.status do
    = t :status, status: @node.status.name

= markdown @node.body

.row
  .col-lg-8.pb-3
    - if @node.address?
      %p= @node.address

    - if @node.hours?
      %p= t :hours, hours: @node.hours

    - if @node.latitude && @node.longitude
      #map{ 'data-markers': node_path(@node, format: :json) }
      .text-muted.text-right
        = link_to t(:get_directions), @node.directions_url, target: :_blank

    - if @node.notes?
      = markdown @node.notes

    = render partial: 'devices', locals: { node: @node, device: @device }

    - if @node.graph&.edges&.count&.positive?
      %h3= t('.network_diagram')
      %p= image_tag graph_node_path(@node, format: :png)

  .col-lg-4
    - if @node.logo.attached?
      %p= image_tag node_path(@node, format: 'png', _v: @node.logo_stamp)

    = render partial: 'shared/edit_delete', locals: { record: @node }

    %p.small
      = t :code, code: @node.display_code
      %br/
      - unless @node.group.blank?
        Managed By:
        = link_to @node.group.name, url_for(@node.group)
        %br/
      - if @node.group.blank? && @node.user&.visible?
        Owner:
        = link_to @node.user.name, url_for(@node.user)
        %br/
      = t :created, date: @node.created_at.to_s(:db)
      %br/
      = t :updated, date: @node.updated_at.to_s(:db)

    = render partial: 'links', locals: { node: @node, node_link: @node_link }
