- content_for :title, @node.display_name

%h2= h @node.name

- unless @node.status.blank?
  %p
    = status_color @node.status do
      = t :status, status: @node.status.name

= markdown @node.body

.row
  .col-lg-8.pb-3
    - if @node.address?
      %p= @node.address

    - if @node.hours?
      %p= t :hours, hours: @node.hours

    - if @node.latitude && @node.longitude
      #map{ 'data-markers': node_path(@node, format: :json) }
      .text-muted.text-right
        = link_to t(:get_directions), @node.directions_url, target: :_blank

    - if @node.notes?
      = markdown @node.notes

    %ul.list-group.list-group-horizontal
      - unless @node.website.blank?
        %li.list-group-item
          = link_to 'Website', @node.website, target: :_blank

      - unless @node.rss.blank?
        %li.list-group-item
          = link_to 'RSS Feed', @node.rss, target: :_blank

      - unless @node.twitter.blank?
        %li.list-group-item
          = link_to 'Twitter', @node.twitter_url, target: :_blank

      - unless @node.wiki.blank?
        %li.list-group-item
          = link_to 'Wiki', @node.wiki, target: :_blank

    - if policy(@node).update? || @node.devices.count.positive?
      %h3.mt-3= Device.model_name.human(count: 2)

      %ul
        - @node.devices.each do |device|
          %li
            = link_to device.name, url_for(device)
            - unless device.device_type.blank?
              &mdash;
              = device.device_type.name
            - unless device.interfaces.empty?
              (#{device.interfaces.count} interfaces)
        - if policy(@node).update?
          %li
            = link_to t(:new_h, thing: Device.model_name.human),
              new_device_path(node: @node)

    - if @node.graph&.edges&.count&.positive?
      %h3.mt-3= t('.network_diagram')
      %p= image_tag graph_node_path(@node, format: :png)

  .col-lg-4
    - if @node.logo.attached?
      %p= image_tag node_path(@node, format: 'png', _v: @node.logo_stamp)

    = render partial: 'shared/edit_delete', locals: { record: @node }

    %p.small
      = t :code, code: @node.display_code
      %br/
      - unless @node.group.blank?
        Managed By:
        = link_to @node.group.name, url_for(@node.group)
        %br/
      - if @node.group.blank? && @node.user&.visible?
        Owner:
        = link_to @node.user.name, url_for(@node.user)
        %br/
      - unless @node.live_date.blank?
        #{t :live_date}: #{@node.live_date.to_s(:db)}
        %br/
      = t :created, date: @node.created_at.to_s(:db)
      %br/
      = t :updated, date: @node.updated_at.to_s(:db)
