.container
  .row
    .col-md-12
      %h1= @node.name

  .row
    .col-md-7
      = markdown @node.body

      - if @node.notes?
        = markdown @node.notes

      %h2= NodeLink.model_name.human(count: 2)

      %ul
        - @node.node_links.each do |node_link|
          %li
            = node_link.name
            = link_to node_link.url, node_link.url
        - if current_user.try(:admin?) or @node.user == current_user
          %li
            = form_tag node_links_path(node: @node), class: 'form-inline' do
              .form-group
                %label.sr-only{for: "node_link_name"}= NodeLink.human_attribute_name('name')
                = text_field 'node_link', 'name', class: 'form-control', placeholder: NodeLink.human_attribute_name('name')

      %h2= Host.model_name.human(count: 2)

      %ul
        - @node.hosts.each do |host|
          %li= host.name
        - if current_user.try(:admin?) or @node.user == current_user
          %li
            = form_tag hosts_path(node: @node), class: 'form-inline' do
              .form-group
                %label.sr-only{for: "host_name"}= Host.human_attribute_name('name')
                = text_field 'host', 'name', class: 'form-control', placeholder: Host.human_attribute_name('name')

    .col-md-5
      - if current_user.try(:admin?) or @node.user == current_user
        %p
          = link_to t(:edit), edit_node_path(@node), class: 'btn btn-warning'
          = link_to t(:delete), url_for(@node), method: :delete, data: { confirm: t(:confirm_delete, thing: Node.model_name.human.downcase) }, class: 'btn btn-danger'

      %p.small
        = link_to t(:zone, zone: @node.zone.name), url_for(@node.zone)
        %br/
        = t :code, code: @node.code
        %br/
        %span{style: "color: #{@node.status.color}"}
          = t :status, status: @node.status.name

      - if @node.address?
        %p= @node.address

      - if @node.hours?
        %p= t :hours, hours: @node.hours

      - if @node.latitude and @node.longitude
        #map{"data-node": @node.to_param}
