.container
  .row.vertical-align
    .col-sm-6
      %h2= t :search

      = form_tag search_path, id: 'search', method: 'GET' do
        = text_field_tag 'query', params[:query]
        = submit_tag t(:search)

      %h2= Zone.model_name.human.pluralize

      %ul
        - Zone.all.each do |zone|
          %li
            = link_to h(zone.name), url_for(zone)
            %span.small
              = surround '(', ')' do
                = t :nodes_numbered, count: zone.nodes.count

      - if user_signed_in? && current_user.groups.count.positive?
        %h2= Group.model_name.human.pluralize

        %ul
          - current_user.groups.order(name: :asc).each do |group|
            %li
              = link_to h(group.name), url_for(group)
              %span.small
                = surround '(', ')' do
                  = t :nodes_numbered, count: group.nodes.count

      %h2= t :additional_data

      %ul
        %li= link_to DeviceType.model_name.human(count: 2), device_types_path
        %li= link_to InterfaceType.model_name.human(count: 2),
          interface_types_path
        %li= link_to Status.model_name.human(count: 2), statuses_path

    .col-sm-6
      - unless user_signed_in?
        %h2= t :join_us

        %ul
          %li= link_to t(:sign_in), user_session_path
          %li= link_to t(:sign_up), new_user_registration_path

      - if user_signed_in? && current_user.nodes.ungrouped.count.positive?
        %h2= t '.my_nodes'

        %ul
          - current_user.nodes.ungrouped.order(name: :asc).each do |node|
            %li
              = link_to h(node.name), url_for(node)
              %span.small
                = surround '(', ')' do
                  = t :devices_numbered, count: node.devices.count
