.container
  %h1= t '.title'

  %p
    = t :cwnmyr
    \-
    = t :tagline

  %p= t '.description'

  - unless user_signed_in?
    %h2= t :join_us

    %ul
      %li= link_to t(:sign_in), user_session_path
      %li= link_to t(:sign_up), new_user_registration_path

  %h2= t :browse

  %p= t '.browse_text'

  %ul
    - Zone.all.each do |zone|
      %li
        = link_to h(zone.name), url_for(zone)
        %span.small
          = surround '(', ')' do
            = t :nodes_numbered, count: zone.nodes.count

  - if user_signed_in? and current_user.nodes.count > 0
    %h2= t '.my_nodes'

    %ul
      - current_user.nodes.each do |node|
        %li
          = link_to h(node.name), url_for(node)
          %span.small
            = surround '(', ')' do
              = t :hosts_numbered, count: node.hosts.count

  %p= link_to t('config.index.title'), config_path
