.container
  %h1= t '.title'

  %p
    = t :cwnmyr
    \-
    = t :tagline

  %p= t '.description'

  - unless user_signed_in?
    %h2= t :join_us

    %ul
      %li= link_to t(:sign_in), user_session_path
      %li= link_to t(:sign_up), new_user_registration_path

  %h2= t :browse

  %p= t '.browse_text'

  %ul
    - Zone.all.each do |zone|
      %li
        = link_to zone.name, url_for(zone)
        %span.small
          = surround '(', ')' do
            = t :nodes_numbered, count: zone.nodes.count

  %p= link_to t('config.index.title'), config_path
