%h1= t :search

%p
  = form_tag search_path, id: 'search', method: 'GET' do
    = text_field_tag 'query', params[:query]
    = submit_tag t(:search)

  - unless @results.empty?
    .small.text-muted.pb-1
      = surround '(', ')' do
        = t :total_numbered, count: @results.count

    %table
      %thead
        %tr
          %th Code
          %th Name
          %th Devices
      %tbody
        - @results.each do |node|
          %tr
            %td= link_to h(node.display_code), url_for(node)
            %td= link_to h(node.name), url_for(node)
            %td.text-right= node.devices.count

  - if @results.empty?
    %p= t '.no_results'
