- @head_content ||= ''
- @head_content += javascript_include_tag('builder')
- @head_content += javascript_include_tag('slider')
- @head_content += colorpicker_include_tag

= error_messages_for :status

%p
  %label{:for => :code}= t('code')
  %br/
  = text_field :status, :code

%p
  %label{:for => :name}= t('name')
  %br/
  = text_field :status, :name

%p
  %label{:for => :description}= t('description')
  %br/
  = text_area :status, :description

%p
  %label{:for => :color}= t('color')
  %br/
  = colorpicker_input_tag :status, :color

%p
  %label{:for => :expose}= t('expose')
  %br/
  = check_box :status, :expose

= colorpicker_initialize 'status_color'
