- @page_heading = t('statuses')

%h2= t('manage statuses')

%p.small= t('%d total') % Status.count

= will_paginate @statuses

%ul
  - @statuses.each do |status|
    %li{:id => "status_#{status.to_param}"}
      = link_to h(status.to_param), status_path(status)
      \-
      = h(status.name)

= will_paginate @statuses

#new_status
  %p= link_to_remote t('new status'), :url => new_status_path
