.container
  .row
    .col-md-12
      %h1= h @status.name

  .row
    .col-md-12
      %p
        = status_color(@status) do
          = h @status.code
          &larr;

      %h2= Node.model_name.human(count: 2)

      %ul
        - @status.nodes.order(name: :asc).each do |node|
          %li= link_to node.name, url_for(node)
