- content_for :title, @status.name

%h1= h @status.name

%p
  = status_color(@status) do
    = h @status.code
    &larr;

- unless @status.nodes.empty?
  %h2= Node.model_name.human(count: 2)

  %ul
    - @status.nodes.order(name: :asc).each do |node|
      %li= link_to node.name, url_for(node)
