= render partial: 'shared/form_errors', locals: { record: user_link }

.form-group
  %label{ for: 'user_link_name' }= UserLink.human_attribute_name('name')
  = text_field 'user_link', 'name', class: 'form-control'

.form-group
  %label{ for: 'user_link_url' }= UserLink.human_attribute_name('url')
  = text_field 'user_link', 'url', class: 'form-control'
