= render partial: 'shared/form_errors', locals: { record: host_property }

.form-group
  %label{ for: 'host_property_key' }= HostProperty.human_attribute_name('key')
  = text_field 'host_property', 'key', class: 'form-control'

.form-group
  %label{ for: 'host_property_value' }
    = HostProperty.human_attribute_name('value')
  = text_field 'host_property', 'value', class: 'form-control'
