.container
  %h1= t :new_h, thing: HostProperty.model_name.human

  = form_tag host_properties_path do
    = render partial: 'form', locals: { host_property: @host_property }

    = hidden_field 'host_property', 'host_id'
    = submit_tag t(:create), id: 'host_property_create',
                 class: 'btn btn-primary'
    = link_to t(:cancel), url_for(@host_property.host), class: 'btn btn-warning'
