.container
  %h1= t :edit_h, thing: HostProperty.model_name.human

  = form_tag url_for(@host_property), method: :put do
    = render partial: 'form', locals: { host_property: @host_property }

    = submit_tag t(:update), id: 'host_property_update',
                 class: 'btn btn-primary'
    = link_to t(:cancel), url_for(@host_property.host), class: 'btn btn-warning'
