.nested-fields.border.border-dark.rounded.mb-2.p-2
  .row
    .col-md-6
      = f.input :name
      .mb-3.text-muted
        Descriptive name for the host.

  .row
    .col-md-6
      = f.input :address_ipv4
    .col-md-6
      = f.input :address_ipv6
    .col-md-6
      = f.input :address_mac
      .mb-3.text-muted
        Colon-delimited IEEE 802 hardware address.

  .clearfix
    .float-right
      &middot;
      = link_to_remove_association f do
        = t(:remove_h, thing: AuthorizedHost.model_name.human)
