= f.input :name
= f.association :device_type
= f.input :body

%h3 Interfaces
#interfaces
  = f.simple_fields_for :interfaces do |interface|
    = render 'interface_fields', f: interface
  .links.mb-3
    = link_to_add_association f, :interfaces do
      = t(:add_h, thing: Interface.model_name.human)

%h3 Device Properties
#device-properties
  = f.simple_fields_for :device_properties do |device_property|
    = render 'device_property_fields', f: device_property
  .links.mb-3
    = link_to_add_association f, :device_properties do
      = t(:add_h, thing: DeviceProperty.model_name.human)
