.nested-fields.border.border-dark.rounded.mb-2.p-2
  .row
    .col-md-6
      = f.input :code
      .mb-3.text-muted
        Unique identifier for the interface. Use the device's internal
        identifier when available.
    .col-md-6
      = f.input :name
      .mb-3.text-muted
        Descriptive name for the interface.

  .row
    .col-md-6
      = f.input :address_ipv4
      .mb-3.text-muted
        CIDR-masked dotted quad.
    .col-md-6
      = f.input :address_ipv6
      .mb-3.text-muted
        CIDR-masked IPv6 address.
    .col-md-6
      = f.input :address_mac
      .mb-3.text-muted
        Colon-delimited IEEE 802 hardware address.
    .col-md-6
      = f.association :network
      .mb-3.text-muted
        Select only if the interface is participating in a wide-area network.

  .clearfix
    .float-right
      &middot;
      = link_to_remove_association f do
        = t(:remove_h, thing: Interface.model_name.human)
