- content_for :title, t(:edit_h, thing: Device.model_name.human)

%h1= t :edit_h, thing: Device.model_name.human

= simple_form_for @device, turbolinks_form: true do |f|
  = render partial: 'form', locals: { f: f }

  = f.submit t(:update), id: 'device_update', class: 'btn btn-primary'
  = link_to t(:cancel), url_for(@device), class: 'btn btn-warning'
