- content_for :title, t(:new_h, thing: Device.model_name.human)

%h1= t :new_h, thing: Device.model_name.human

= simple_form_for @device, turbolinks_form: true, validate: true do |f|
  = render partial: 'form', locals: { f: f }

  = f.input :node_id, as: :hidden
  = f.submit t(:create), id: 'device_create', class: 'btn btn-primary'
  = link_to t(:cancel), node_path(@device.node), class: 'btn btn-warning'
