.container
  .row
    .col-md-12
      %h1= h @device.name

  .row
    .col-md-12
      = render partial: 'shared/edit_delete', locals: { record: @device }

      %p.small
        = link_to t(:zone, zone: @device.node.zone.name),
          url_for(@device.node.zone)
        %br/
        = link_to t(:node, node: @device.node.name), url_for(@device.node)
        - if @device.device_type
          %br/
          = link_to @device.device_type.name, url_for(@device.device_type)

      = markdown @device.body

      %h2= Interface.model_name.human(count: 2)

      %ul
        - @device.interfaces.each do |interface|
          %li
            = link_to h(interface.name), url_for(interface)
            - if interface.essid
              \-
              = Interface.human_attribute_name('essid')
              = h interface.essid
            - if interface.channel
              \-
              = Interface.human_attribute_name('channel')
              = h interface.channel
        - if policy(@device).update?
          %li= link_to t(:create), new_interface_path(device_id: @device)

      %h2= DeviceProperty.model_name.human(count: 2)

      %ul
        - @device.device_properties.each do |device_property|
          %li
            = link_to h(device_property.key), url_for(device_property)
            &larr;
            = h device_property.value
        - if policy(@device).update?
          %li= link_to t(:create), new_device_property_path(device_id: @device)

      %h2= t('.network_diagram')
      %p= image_tag graph_device_path(@device, format: :png)
