- content_for :title, "#{@device.node&.display_code}: #{@device.name}"

.row
  .col-md-12
    %h1= h @device.name

.row
  .col-md-12
    = render partial: 'shared/edit_delete', locals: { record: @device }

    %p.small
      - if @device.node
        = link_to t(:node, node: @device.node.name), url_for(@device.node)
      - if @device.device_type
        %br/
        = link_to @device.device_type.name, url_for(@device.device_type)

    = markdown @device.body

    - unless @device.interfaces.empty?
      %h2= Interface.model_name.human(count: 2)

      %ul
        - @device.interfaces.each do |interface|
          %li
            = h(interface.name)
            - if interface.essid
              \-
              = Interface.human_attribute_name('essid')
              = h interface.essid
            - if interface.channel
              \-
              = Interface.human_attribute_name('channel')
              = h interface.channel

    - unless @device.device_properties.empty?
      %h2= DeviceProperty.model_name.human(count: 2)

      %ul
        - @device.device_properties.each do |device_property|
          %li
            = h(device_property.key)
            &larr;
            = h device_property.value

    - if @device.graph&.edges&.count&.positive?
      %h2= t('.network_diagram')
      %p= image_tag graph_device_path(@device, format: :png)
