<%= error_messages_for 'host' %>

<!--[form:host]-->
<p><label for="host_name">Hostname</label>
  <span class="required">*</span><br/>
<%= text_field 'host', 'name'  %></p>

<p><label for="host_top_level_hostname">Hostname scope</label><br/>
<%= radio_button 'host', 'top_level_hostname', true %>Top-level &nbsp;
<%= radio_button 'host', 'top_level_hostname', false %>Local</p>

<p><label for="host_host_type">Device Type</label><br/>
<%= collection_select 'host', 'host_type_id',
  HostType.find_all_by_expose(true), 'id', 'name' %></p>

<p><label for="host_status">Status</label><br/>
<%= collection_select 'host', 'status_id', Status.find_all_by_expose(true),
  'id', 'name' %></p>

<p><label for="host_description">Description</label><br/>
<%= text_area 'host', 'description', 'cols' => 60, 'rows' => 4 %></p>

<p class="small"><span class="required">*</span> denotes a required field</p>

<!--[eoform:host]-->

