.container
  %h1= t '.title'

  = form_tag do
    = render partial: 'form', locals: { host: @host }

    = submit_tag t(:update), id: 'host_update', class: 'btn btn-primary'
    = link_to t(:cancel), url_for(@host), class: 'btn btn-warning'
