.container
  %h1= t :new_h, thing: Host.model_name.human

  = form_tag hosts_path do
    = render partial: 'form', locals: { host: @host }

    = hidden_field 'host', 'node_id'
    = submit_tag t(:create), id: 'host_create', class: 'btn btn-primary'
    = link_to t(:cancel), root_path, class: 'btn btn-warning'
