.container
  .row
    .col-md-12
      %h1= h @host.name

  .row
    .col-md-12
      - if current_user.try(:admin?) || @host.node.user == current_user
        %p
          = link_to t(:edit), edit_host_path(@host), class: 'btn btn-warning'
          = link_to t(:delete), url_for(@host), method: :delete,
                    data: { confirm: t(:confirm_delete,
                            thing: Host.model_name.human.downcase) },
                    class: 'btn btn-danger'

      %p.small
        = link_to t(:zone, zone: @host.node.zone.name), url_for(@host.node.zone)
        %br/
        = link_to t(:node, node: @host.node.name), url_for(@host.node)
        %br/
        %span{ class: @host.status.color }
          = t :status, status: @host.status.name

      = markdown @host.body

      %h2= t('.network_diagram')
      %p= image_tag graph_host_path(@host, format: :png)

      %h2= Interface.model_name.human(count: 2)

      %ul
        - @host.interfaces.each do |interface|
          %li
            = link_to h(interface.name), url_for(interface)
            %span{ class: interface.status.color } &larr;
            - if interface.essid
              \-
              = Interface.human_attribute_name('essid')
              = h interface.essid
            - if interface.channel
              \-
              = Interface.human_attribute_name('channel')
              = h interface.channel
