<p class="small">Status: <span style="color: #<%=
  @host.status.color %>"><%=h @host.status.name %></span> -
  Hostname scope: <%= @host.top_level_hostname? ? 'Top-level' : 'Local' %></p>

<%= textilize @host.description %>

<p class="small">Created <%= time_ago_in_words @host.created_at
  %> ago.&nbsp; Last updated <%= time_ago_in_words @host.updated_at
  %> ago.</p>


<% if current_user || @host.interfaces.count > 0 -%>
  <h2>Interfaces</h2>

  <p class="small"><%= @host.interfaces.count %> total</p>

  <p><img src="<%= url_for :action => 'graph',
    :node_code => @host.node.code, :hostname => @host.name
    %>" alt="interface graph"/></p>

  <ul>
    <% @host.interfaces.each do |interface| -%>
      <li><%= link_to interface.display_name, :controller => 'interface',
        :action => 'show', :node_code => @host.node.code,
        :hostname => @host.name, :code => interface.code
        %> <span style="color: #<%= interface.status.color
        %>">&hArr;</span> <%=h interface.ipv4_masked_address %>
        <% if interface.wireless_interface -%>
          <% if ! interface.wireless_interface.essid.empty? -%>
            - ESSID: <%=h interface.wireless_interface.essid %>
          <% end -%>
          <% if interface.wireless_interface.channel -%>
            - Channel: <%=h interface.wireless_interface.channel %>
          <% end -%>
        <% end -%>
      </li>
    <% end -%>
    <% if current_user -%>
      <li><%= link_to 'New interface', :controller => 'interface',
        :action => 'new', :node_code => @host.node.code,
        :hostname => @host.name %></li>
    <% end -%>
  </ul>
<% end -%>


<% if current_user || @host.logs.count > 0 -%>
  <h2>Log entries</h2>

  <p class="small">Feed: <%=
    link_to 'Atom', :action => 'feed',
      :node_code => @host.node.code, :hostname => @host.name %></p>

  <ul>
    <% @host.logs.find_all_by_active(true).each do |host_log| -%>
      <li><%= link_to host_log.created_at.strftime("%Y-%m-%d"),
        :controller => 'host_log', :action => 'show', :id => host_log.id %>:
        <%=h host_log.subject %></li>
    <% end -%>
    <% if current_user -%>
      <% @host.logs.find_all_by_active(false).each do |host_log| -%>
        <li><%= link_to host_log.created_at.strftime("%Y-%m-%d"),
          :controller => 'host_log', :action => 'show', :id => host_log.id %>:
          <%=h host_log.subject %></li>
      <% end -%>
      <li><%= link_to 'New log entry', :controller => 'host_log',
        :action => 'new', :host_id => @host.id %></li>
    <% end -%>
  </ul>
<% end -%>


<% if current_user || @host.services.count > 0 -%>
  <h2>Services</h2>

  <ul>
    <% @host.services.each do |host_service| -%>
      <li><%= link_to host_service.service.name,
        :controller => 'host_service', :action => 'show',
        :id => host_service.id %></li>
    <% end -%>
    <% if current_user -%>
      <li><%= link_to 'New service', :controller => 'host_service',
        :action => 'new', :host_id => @host.id %></li>
    <% end -%>
  </ul>
<% end -%>


<% if current_user || @host.properties.count > 0 -%>
  <h2>Properties</h2>

  <ul>
    <% @host.properties.each do |host_property| -%>
      <li><%= link_to host_property.type.code,
        :controller => 'host_property', :action => 'show',
        :id => host_property.id %>: <%=h host_property.value %></li>
    <% end -%>
    <% if current_user -%>
      <li><%= link_to 'New property', :controller => 'host_property',
        :action => 'new', :host_id => @host.id %></li>
    <% end -%>
  </ul>
<% end -%>


<p>
  <% if logged_in? -%>
    <% if @host.interfaces.empty? && @host.logs.empty? && @host.services.empty? && @host.properties.empty? -%>
      <%= link_to 'Destroy', { :action => 'destroy',
        :node_code => @host.node.code, :hostname => @host.name },
        :confirm => 'Are you sure?' %>
    <% end -%>
    <%= link_to 'Edit', :action => 'edit', :node_code => @host.node.code,
      :hostname => @host.name %>
  <% end -%>
</p>
