.container
  .row
    .col-md-12
      %h1= h @host.name

  .row
    .col-md-12
      = render partial: 'shared/edit_delete', locals: { record: @host }

      %p.small
        = link_to t(:zone, zone: @host.node.zone.name), url_for(@host.node.zone)
        %br/
        = link_to t(:node, node: @host.node.name), url_for(@host.node)

      = markdown @host.body

      %h2= t('.network_diagram')
      %p= image_tag graph_host_path(@host, format: :png)

      %h2= Interface.model_name.human(count: 2)

      %ul
        - @host.interfaces.each do |interface|
          %li
            = link_to h(interface.name), url_for(interface)
            - if interface.essid
              \-
              = Interface.human_attribute_name('essid')
              = h interface.essid
            - if interface.channel
              \-
              = Interface.human_attribute_name('channel')
              = h interface.channel
        - if policy(@host).update?
          %li= link_to t(:create), new_interface_path(host_id: @host)

      %h2= HostProperty.model_name.human(count: 2)

      %ul
        - @host.host_properties.each do |host_property|
          %li
            = link_to h(host_property.key), url_for(host_property)
            &larr;
            = h host_property.value
        - if policy(@host).update?
          %li= link_to t(:create), new_host_property_path(host_id: @host)
