%nav.navigation{ role: 'navigation' }
  = link_to root_path, class: 'navigation__link' do
    %b= Zone.default&.title || t(:cwnmyr)

  %hr/

  %ul
    - Administrate::Namespace.new(namespace).resources.each do |resource|
      %li= link_to_resource namespace, resource

  %hr/

  %p
    %b Utilities

  %ul
    %li= link_to 'Blazer', '/admin/blazer',
      class: 'navigation__link', target: :_blank
    %li= link_to 'PgHero', '/admin/pghero',
      class: 'navigation__link', target: :_blank
