- content_for :title, t(:edit_h, thing: Contact.model_name.human)

%h1= t :edit_h, thing: Contact.model_name.human

= simple_form_for @contact, turbolinks_form: true, validate: true do |f|
  = render partial: 'form', locals: { contact: @contact, f: f }

  = f.submit t(:update), id: 'contact_update', class: 'btn btn-primary'
  = link_to t(:cancel), url_for(@contact), class: 'btn btn-warning'
