- content_for :title, t(:new_h, thing: Contact.model_name.human)

%h1= t :new_h, thing: Contact.model_name.human

= simple_form_for @contact do |f|
  = render partial: 'form', locals: { f: f }

  = f.submit t(:create), id: 'contact_create', class: 'btn btn-primary'
  = link_to t(:cancel), browse_path, class: 'btn btn-warning'
