- content_for :meta_title, @contact.name

%h1= h @contact.name

= render partial: 'shared/edit_delete', locals: { record: @contact }

%p= @contact.hidden? ? 'Hidden' : 'Public'

- unless @contact.email.blank?
  %p Email: #{@contact.email}

- unless @contact.phone.blank?
  %p Phone: #{@contact.phone}

- unless @contact.group.blank?
  %p Group: #{link_to @contact.group.name, url_for(@contact.group)}

- if @contact.group.blank? && @contact.user&.visible?
  %p User: #{link_to @contact.user.name, url_for(@contact.user)}

- unless @contact.notes.blank?
  = markdown @contact.notes

- unless @contact.nodes.empty?
  %h2= Node.model_name.human.pluralize

  %ul
    - @contact.nodes.order(name: :asc).each do |node|
      %li= link_to node.name, url_for(node)
