.container
  %h1= t '.title'

  = form_tag node_links_path do
    = render partial: 'form', locals: { node_link: @node_link }

    = hidden_field 'node_link', 'node_id'
    = submit_tag t(:create), id: 'node_link_create', class: 'btn btn-primary'
    = link_to t(:cancel), root_path, class: 'btn btn-warning'
