= error_messages_for :zone

%p
  %label{:for => :code}= t('code')
  %br/
  = text_field :zone, :code

%p
  %label{:for => :name}= t('name')
  %br/
  = text_field :zone, :name

%p
  %label{:for => :locality}= t('locality')
  %br/
  = text_area :zone, :locality, :cols => 60, :rows => 2

%p
  %label{:for => :expose}= t('expose')
  %br/
  = check_box :zone, :expose
