- @page_heading = t('zones')

%h2= t('manage zones')

%p.small= Zone.count

= will_paginate @zones

%ul
  - @zones.each do |zone|
    %li{:id => "zone_#{zone.to_param}"}
      = link_to h(zone.to_param), zone_path(zone)
      \-
      = h zone.name
      %span.small
        = surround '(', ')' do
          = t('%d nodes') % zone.nodes.count

= will_paginate @zones

#new_zone
  %p= link_to t('new zone'), new_zone_path
