.container
  %h1= @zone.name

  %p.small
    = t :code, code: @zone.code
    %br/
    = t :created, date: @zone.created_at.to_s(:db)
    %br/
    = t :updated, date: @zone.updated_at.to_s(:db)

  = markdown @zone.body

  = zone_map

  %h2= Node.model_name.human(count: 2)

  %p.small= t :total_numbered, count: @zone.nodes.count

  %ul
    - @zone.nodes.each do |node|
      %li
        = link_to h(node.name), url_for(node)
        %span{style: "color: #{node.status.color}"} &larr;
        %span.small
          = surround '(', ')' do
            = t :hosts_numbered, count: node.hosts.count
    - if user_signed_in?
      %li= link_to t('new node'), :controller => 'nodes', :action => 'new', :zone_code => @zone
