.container
  %h1= h @zone.name

  = markdown @zone.body

  #map{ 'data-markers': zone_path(@zone, format: :json) }
  %span.text-muted.pull-right
    = link_to t(:json), zone_path(@zone, format: :json)
    \|
    = link_to t(:kml), zone_path(@zone, format: :kml)
    \|
    = link_to t(:xml), zone_path(@zone, format: :xml)

  %h2= Node.model_name.human(count: 2)

  %p.small= t :total_numbered, count: @zone.nodes.count

  %ul
    - @zone.nodes.each do |node|
      %li
        = link_to h(node.name), url_for(node)
        %span{ class: node.status.color } &larr;
        %span.small
          = surround '(', ')' do
            = t :hosts_numbered, count: node.hosts.count
    - if user_signed_in?
      %li= link_to t('.new_node'), new_node_path(zone: @zone)

  %h2= t '.conf'

  %p= t '.conf_description'

  %ul
    %li= link_to t(:dns_zone_external),
      conf_zone_path(@zone, svc: 'dns_zone_external')
    %li= link_to t(:dns_zone_internal),
      conf_zone_path(@zone, svc: 'dns_zone_internal')
    %li= link_to t(:nagios_external),
      conf_zone_path(@zone, svc: 'nagios_external')
    %li= link_to t(:nagios_internal),
      conf_zone_path(@zone, svc: 'nagios_internal')
    %li= link_to t(:smokeping_external),
      conf_zone_path(@zone, svc: 'smokeping_external')
    %li= link_to t(:smokeping_internal),
      conf_zone_path(@zone, svc: 'smokeping_internal')
