- @page_heading = t('roles')

%h2= t('manage roles')

%p.small= t('%d total') % Role.count

= will_paginate @roles

%ul
  - @roles.each do |role|
    %li{:id => "role_#{role.to_param}"}
      = link_to h(role.to_param), role_path(role)
      \-
      = h(role.name)
      %span.small
        = surround '(', ')' do
          = t('%d users') % role.users.count

= will_paginate @roles

#new_role
  %p= link_to_remote t('new role'), :url => new_role_path
