- @page_heading = t('role: %s') % h(@role.code)

%p.small
  = t('created %s') % @role.created_at.to_s(:db)
  %br/
  = t('updated %s') % @role.updated_at.to_s(:db)

%p= t('name: %s') % h(@role.name)

%p
  = link_to t('edit'), edit_role_path
  \|
  = link_to t('remove'), role_path, :method => :delete

- unless @role.users.empty?
  %h2= t('users')
  %p.small= t('%d total') % @role.users.count

  %ul
    - @role.users.each do |user|
      %li
        = link_to h(user.to_param), user_path(user)
        - unless user.displayname.blank?
          %span.small
            = surround '(', ')' do
              = user.displayname
