= error_messages_for :host_type

%p
  %label{:for => :code}= t('code')
  %br/
  = text_field :host_type, :code

%p
  %label{:for => :name}= t('name')
  %br/
  = text_field :host_type, :name

%p
  %label{:for => :description}= t('description')
  %br/
  = text_area :host_type, :description

%p
  %label{:for => :overview}= t('overview')
  %br/
  = text_area :host_type, :overview

%p
  %label{:for => :instructions}= t('instructions')
  %br/
  = text_area :host_type, :instructions

%p
  %label{:for => :expose}= t('expose')
  %br/
  = check_box :host_type, :expose
