- @page_heading = t('host types')

%h2= t('manage host types')

%p.small= t('%d total') % HostType.count

= will_paginate @host_types

%ul
  - @host_types.each do |host_type|
    %li{:id => "host_type_#{host_type.to_param}"}
      = link_to h(host_type.to_param), host_type_path(host_type)
      \-
      = h host_type.name

= will_paginate @host_types

#new_host_type
  %p= link_to_remote t('new host type'), :url => new_host_type_path
