.container
  %h1= t '.title'

  = form_tag interfaces_path do
    = render partial: 'form', locals: { interface: @interface }

    = hidden_field 'interface', 'host_id'
    = submit_tag t(:create), id: 'interface_create', class: 'btn btn-primary'
    = link_to t(:cancel), url_for(@interface.host), class: 'btn btn-warning'
