<% if @interface.average_point -%>
  <p class="small"><b>Average point</b>:
    Latitude: <%=h @interface.average_point[:latitude] %> -
    Longitude: <%=h @interface.average_point[:longitude] %> -
    Height: <%=h @interface.average_point[:height] %> -
    Error: <%=h @interface.average_point[:error] %></p>

    <% if @map -%>
        <%= @map.div(:width => 320, :height => 240) %>
    <% end -%>
<% end -%>

