<% unless @interface.name.blank? -%>
  <p><b><%=h @interface.name %></b></p>
<% end -%>

<p class="small">Status: <span style="color: #<%=
  @interface.status.color %>"><%=
  h @interface.status.name %></span></p>

<%= textilize @interface.description %>


<% unless @interface.mac.to_s.empty? -%>
  <p>BSSID/MAC address: <%=h @interface.mac %></p>
<% end -%>

<% unless @interface.ipv6_masked_address && @interface.ipv6_masked_address.empty? -%>
  <p>IPv6 address: <%=h @interface.ipv6_masked_address %></p>
<% end -%>

<% if @interface.ipv4_static_address? -%>
  <p>IPv4 address: <%=h @interface.ipv4_address %></p>
<% else -%>
  <p>IPv4 address: dynamic assignment</p>
<% end -%>

<p>Netmask: <%=h @interface.ipv4_netmask %>
  (<%=h @interface.ipv4_prefix %> bits)</p>

<p>Network address: <%=h @interface.ipv4_network %></p>

<p>Broadcast address: <%=h @interface.ipv4_broadcast %></p>


<h2>Neighbors</h2>

<% if @interface.ipv4_neighbors.empty? -%>
  <p>No known neighbors.</p>
<% else -%>
  <ul>
  <% @interface.ipv4_neighbors.each do |neighbor| -%>
    <li><%= link_to (neighbor.ipv4_static_address? ?
        neighbor.ipv4_masked_address : 'dynamic'),
      { :action => 'show', :node_code => neighbor.host.node.code,
        :hostname => neighbor.host.name, :code => neighbor.code }
      %> <span style="color: #<%= neighbor.status.color
      %>">&hArr;</span> <%=h neighbor.host.name %>/<%=h neighbor.code %></li>
  <% end -%>
  </ul>
<% end -%>

<% if current_user || @interface.properties.count > 0 -%>
  <h2>Properties</h2>

  <ul>
    <% @interface.properties.each do |interface_property| -%>
      <li><%= link_to interface_property.type.code,
        :controller => 'interface_property', :action => 'show',
        :id => interface_property.id %>: <%=h interface_property.value %></li>
    <% end -%>
    <% if current_user -%>
      <li><%= link_to 'New property', :controller => 'interface_property',
        :action => 'new', :interface_id => @interface.id %></li>
    <% end -%>
  </ul>
<% end -%>

<% if @interface.type.wireless? -%>
  <h2>Wireless properties</h2>

  <% if @interface.wireless_interface -%>
    <% if @interface.wireless_interface.mode -%>
      <p>Wireless mode: <%=
        WirelessInterface.modes.index(@interface.wireless_interface.mode)
      %></p>
    <% end -%>

    <% if ! @interface.wireless_interface.essid.to_s.empty? -%>
      <p>ESSID: <%=h @interface.wireless_interface.essid %></p>
    <% end -%>

    <% if @interface.wireless_interface.channel -%>
      <p>Channel: <%=h @interface.wireless_interface.channel %></p>
    <% end -%>

    <% if @interface.wireless_interface.tx_power -%>
      <p>RF transmission power: <%=h @interface.wireless_interface.tx_power
        %> dBm</p>
    <% end -%>

    <% if @interface.wireless_interface.rx_sensitivity -%>
      <p>RF receive sensitivity: <%=
        h @interface.wireless_interface.rx_sensitivity %> dBm</p>
    <% end -%>

    <% if @interface.wireless_interface.cable_loss -%>
      <p>RF cable + connector loss: <%=
        h @interface.wireless_interface.cable_loss %> dB</p>
    <% end -%>

    <% if @interface.wireless_interface.antenna_gain -%>
      <p>Antenna gain: <%=h @interface.wireless_interface.antenna_gain
        %> dBi</p>
    <% end -%>

    <% if @interface.wireless_interface.beamwidth_v -%>
      <p>Vertical beamwidth:
        <%=h @interface.wireless_interface.beamwidth_v %> degrees</p>
    <% end -%>

    <% if @interface.wireless_interface.beamwidth_h -%>
      <p>Horizontal beamwidth:
        <%=h @interface.wireless_interface.beamwidth_h %> degrees</p>
    <% end -%>

    <% if @interface.wireless_interface.azimuth -%>
      <p>Azimuth:
        <%=h @interface.wireless_interface.azimuth %> degrees</p>
    <% end -%>

    <% if @interface.wireless_interface.elevation -%>
      <p>Elevation: <%=h @interface.wireless_interface.elevation %>
        meters above sea level</p>
    <% end -%>

    <% if @interface.wireless_interface.error -%>
      <p>Error: <%=h @interface.wireless_interface.error %></p>
    <% end -%>
  <% else -%>
    <p>Interface has wireless capabilities, but no wireless properties have
      been set.</p>
  <% end -%>

  <% if current_user -%>
    <p><%= link_to 'Set wireless properties', :action => 'wireless',
      :node_code => @interface.host.node.code,
      :hostname => @interface.host.name, :code => @interface.code %></p>
  <% end -%>

  <h2>GPS data</h2>

  <% if @interface.average_point -%>
    <p class="small"><%= link_to 'Map',
        :action => 'map', :id => @interface.id %> -
      <b>Average point</b>:
        Latitude: <%=h @interface.average_point[:latitude] %> -
        Longitude: <%=h @interface.average_point[:longitude] %> -
        Height: <%=h @interface.average_point[:height] %> -
        Error: <%=h @interface.average_point[:error] %></p>
  <% end -%>

  <ul>
    <% @interface.points.each do |interface_point| -%>
      <li><%= link_to interface_point.description,
        :controller => 'interface_point', :action => 'show',
        :id => interface_point.id %></li>
    <% end -%>
    <% if current_user -%>
      <li><%= link_to 'New GPS data point',
        :controller => 'interface_point', :action => 'new',
        :interface_id => @interface.id %></li>
    <% end -%>
  </ul>
<% end -%>

<p class="small">Created <%= time_ago_in_words @interface.created_at
  %> ago.&nbsp; Last updated <%= time_ago_in_words @interface.updated_at
  %> ago.</p>


<p>
  <% if logged_in? -%>
    <%= link_to 'Destroy', { :action => 'destroy',
      :node_code => @interface.host.node.code,
      :hostname => @interface.host.name,
      :code => @interface.code },
      :confirm => 'Are you sure?' %> |
    <%= link_to 'Edit', :action => 'edit',
      :node_code => @interface.host.node.code,
      :hostname => @interface.host.name,
      :code => @interface.code %>
  <% end -%>
</p>
