.container
  %h1= t :new_h, thing: DeviceProperty.model_name.human

  = form_tag device_properties_path do
    = render partial: 'form', locals: { device_property: @device_property }

    = hidden_field 'device_property', 'device_id'
    = submit_tag t(:create), id: 'device_property_create',
                 class: 'btn btn-primary'
    = link_to t(:cancel), url_for(@device_property.device),
              class: 'btn btn-warning'
