= error_messages_for :host_property_type

%p
  %label{:for => :code}= t('code')
  %br/
  = text_field :host_property_type, :code

%p
  %label{:for => :name}= t('name')
  %br/
  = text_field :host_property_type, :name

%p
  %label{:for => :description}= t('description')
  %br/
  = text_area :host_property_type, :description
