- @page_heading = t('host property types')

%h2= t('manage host property types')

%p.small= t('%d total') % HostPropertyType.count

= will_paginate @host_property_types

%ul
  - @host_property_types.each do |host_property_type|
    %li{:id => "host_property_type_#{host_property_type.to_param}"}
      = link_to h(host_property_type.to_param), host_property_type_path(host_property_type)
      \-
      = h(host_property_type.name)

= will_paginate @host_property_types

#new_host_property_type
  %p= link_to_remote t('new host property type'), :url => new_host_property_type_path
