= textilize @host_property_type.description

%p.small
  = t('created %s') % @host_property_type.created_at.to_s(:db)
  %br/
  = t('updated %s') % @host_property_type.updated_at.to_s(:db)

%p
  = link_to t('edit'), edit_host_property_type_path
  \|
  = link_to t('remove'), host_property_type_path, :method => :delete
