%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
%title= page_title

= remote_javascript_includes
= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload'
= stylesheet_pack_tag 'main', 'data-turbolinks-track': 'reload'
= csrf_meta_tags
= csp_meta_tag
= meta_assets

%link{ rel: 'manifest', href: '/site.webmanifest' }
