!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= content_for?(:title) ? yield(:title) : t(:cwnmyr)
    = stylesheet_pack_tag 'main'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{ role: 'main' }
      = render 'layouts/messages'
      = yield
    .footer
      .container
        %span.text-muted.pull-right
          cwnmyr-0.1
    = javascript_pack_tag 'main'
    = remote_javascript_includes
