%h2 Sign Up

= simple_form_for resource, as: resource_name,
  url: registration_path(resource_name),
  turbolinks_form: true, validate: true do |f|

  = f.input :email, required: false

  .row
    .col-md-6
      = f.input :password, wrapper_html: { class: 'mb-1' }
      - if @minimum_password_length
        .mb-3.text-muted (#{@minimum_password_length} characters minimum)
    .col-md-6
      = f.input :password_confirmation

  = f.submit 'Sign Up'

= render 'users/shared/providers'
= render 'users/shared/links'
