- content_for :meta_title, 'Sign Up'

%h2 Sign Up

= valid_form resource, url: user_registration_path do |f|

  = f.input :email, required: false

  .row
    .col-md-6
      = f.input :password
      - if @minimum_password_length
        .mb-3.text-muted (#{@minimum_password_length} characters minimum)
    .col-md-6
      = f.input :password_confirmation

  = f.submit 'Sign Up'

= render 'users/shared/providers'
= render 'users/shared/links'
